# Binaries
bin/
collect
analyze

# Config and Credentials
config/
credentials/
**/credentials.json
**/drive_credentials.json
**/token.json
testdata/test-creds.json

# User Data
users/*.yaml
users/archive/*.yaml

# Misc
**/Promo.md
